body{
  text-align: center;
  height: 7000px;
  background: linear-gradient(180deg, rgba(21,18,75,1) 0%, rgba(0,9,75,1) 58%, rgba(0,0,0,1) 100%);}

.reveal{
  position: absolute;
  width: 100%;
  transform: Scale(0%);
  opacity: 0;
  transition: 1s all ease;
  flex-direction: column;
  align-items: center;
}

.reveal.active{
  transform: Scale(100%);
  transition: 1s all ease;
  opacity: 1;
}

.reveal h1{
  color: aliceblue;
  font-size: 3,14sem;
}
