.linkBtn{
    border: white;
    background: #0066ff40;
    color: white;
    border-style: solid;
    border-radius: 25%;
    font-size: 1.2em;
    transition: .5s;
}
.linkBtn:hover{
    transform: scale(1.1);
    background: #5398ffa2;
}