.buble {
    transition: .7s;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px rgb(0, 139, 182),
      inset 20px 0 80px rgb(0, 26, 255),
      inset -20px 0 80px rgba(0, 255, 255, 0.5),
      inset 20px 0 300px rgb(25, 0, 255),
      inset -20px 0 300px rgba(0, 255, 255, 0),
      0 0 10px rgb(0, 26, 255),
      0px 0 30px rgb(0, 140, 255),
      10px 0 80px rgba(0, 255, 255, 0);
      animation: float 6s ease-in-out infinite;
  }
  
  .buble:hover {
    transition: .7s;
    box-shadow:
      inset 0 0 50px rgb(0, 222, 252),
      inset 20px 0 80px rgb(0, 26, 255),
      inset -20px 0 80px rgba(0, 255, 255, 0.5),
      inset 20px 0 300px rgb(25, 0, 255),
      inset -20px 0 300px #0ff,
      0 0 50px rgb(0, 26, 255),
      -10px 0 80px rgb(0, 140, 255),
      10px 0 80px #0ff;
      cursor: pointer;
  }

  .cursedbuble {
    transition: .7s;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px rgb(255, 0, 0),
      inset 20px 0 80px rgb(255, 0, 0),
      inset -20px 0 80px rgba(0, 255, 255, 0.5),
      inset 20px 0 300px rgb(0, 0, 0),
      inset -20px 0 300px rgba(0, 255, 255, 0),
      0 0 10px rgb(255, 81, 0),
      0px 0 30px rgb(255, 0, 0),
      10px 0 80px rgba(0, 255, 255, 0);
      animation: float 6s ease-in-out infinite;
  }

  .cursedbuble:hover {
    transition: .7s;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px rgb(255, 0, 0),
      inset 20px 0 80px rgb(255, 0, 0),
      inset -20px 0 80px rgba(0, 255, 255, 0.5),
      inset 20px 0 300px rgb(0, 0, 0),
      inset -20px 0 300px rgba(0, 255, 255, 0),
      0 0 50px rgb(255, 81, 0),
      0px 0 30px rgb(255, 0, 0),
      10px 0 80px rgba(0, 255, 255, 0);
      animation: float 6s ease-in-out infinite;
  }

  
  .buble:hover {
    transition: .7s;
    box-shadow:
      inset 0 0 50px rgb(0, 222, 252),
      inset 20px 0 80px rgb(0, 26, 255),
      inset -20px 0 80px rgba(0, 255, 255, 0.5),
      inset 20px 0 300px rgb(25, 0, 255),
      inset -20px 0 300px #0ff,
      0 0 50px rgb(0, 26, 255),
      -10px 0 80px rgb(0, 140, 255),
      10px 0 80px #0ff;
      cursor: pointer;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }